@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    --bc-color: #2a2a2d;
    --tx-main-color: #21a5fd;

    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 8px;
    background-color: var(--bc-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--tx-main-color);
}

html,
body {
    background-color: #f2f2f2;
    transition: ease 300ms;
}
.darkmode {
    background-color: var(--bc-color);
    color: #f2f2f2;
}
.header-darkmode {
    background-color: var(--bc-color);
    position: fixed;
    height: 65px;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    z-index: 1000000;
    transition: ease 300ms;
}

.nav-link-darkmode::after {
    content: '';
    background-color: var(--tx-main-color);
    position: absolute;
    top: 78%;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 5px;
    transition: ease 200ms;
    opacity: 0;
}
.nav-link-darkmode:hover::after {
    opacity: 1;
    width: 100%;
}
.nav-link-darkmode {
    text-decoration: none;
    color: #f2f2f2;
}

.t-s-paragraph-darkmode {
    color: #f2f2f2;
    font-size: 20px;
    max-width: 512px;
    transition: ease 300ms;
}

.service-darkmode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: #323236;
    border-radius: 20px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
    padding: 34px;
    width: 270px;
    height: 400px;
    transition: ease 300ms;
}
.service-darkmode:hover {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
}
.service-darkmode > h1 {
    color: var(--tx-main-color);
    text-align: center;
}
.service-list-darkmode {
    list-style: none;
}
.service-list-darkmode > li {
    display: flex;
    gap: 15px;
}

.w-t-paragraph-darkmode {
    color: #f2f2f2;
    font-size: 37px;
    transition: ease 300ms;
}

.c-c-paragraph-darkmode{
    color: #f2f2f2;
    font-size: 25px;
    transition: ease 300ms;
}
.socialmedia-darkmode {
    color: #f2f2f2;
    font-size: 50px;
    transition: ease 200ms;
}
.socialmedia-darkmode:hover {
    color: var(--tx-main-color);
}

.socialmedia2-darkmode {
    color: #f2f2f2;
    font-size: 50px;
    transition: ease 200ms;
}
.socialmedia2-darkmode:hover {
    color: var(--tx-main-color);
}
.socialmedia3-darkmode {
    color: #f2f2f2;
    font-size: 50px;
    transition: ease 200ms;
}
.socialmedia3-darkmode:hover {
    color: var(--tx-main-color);
}
.socialmedia4-darkmode {
    color: #f2f2f2;
    font-size: 50px;
    transition: ease 200ms;
}
.socialmedia4-darkmode:hover {
    color: var(--tx-main-color);
}
.socialmedia5-darkmode {
    color: #f2f2f2;
    font-size: 50px;
    transition: ease 200ms;
}
.socialmedia5-darkmode:hover {
    color: var(--tx-main-color);
}
.socialmedia6-darkmode {
    color: #f2f2f2;
    font-size: 50px;
    transition: ease 200ms;
}
.socialmedia6-darkmode:hover {
    color: var(--tx-main-color);
}

.s-paragraph-darkmode {
    color: #f2f2f2;
    font-size: 25px;
    margin-bottom: 40px;
    transition: ease 300ms;
}


















.header {
    position: fixed;
    height: 65px;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    z-index: 1000000;
    transition: ease 300ms;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
    padding: 0 13px;
}
.logo {
    line-height: 65px;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    color: var(--tx-main-color);
}
.nav-list {
    line-height: 65px;
    list-style: none;
    display: flex;
    gap: 35px;
}
.nav-list-item {
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.nav-link::after {
    content: '';
    background-color: var(--tx-main-color);
    position: absolute;
    top: 78%;
    left: 0;
    width: 0;
    height: 3px;
    border-radius: 5px;
    transition: ease 200ms;
    opacity: 0;
}
.nav-link:hover::after {
    opacity: 1;
    width: 100%;
}
.nav-link {
    text-decoration: none;
    color: var(--bc-color);
    transition: ease 300ms;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.dark-lightmode-container {
    line-height: 65px;
    padding: 0;
}
.darkmode-btn {
    background: none;
    color: var(--tx-main-color);
    padding: 5px 12px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: ease 300ms;
    margin: 0 2px;
}
.darkmode-btn:active {
    transform: scale(0.5);
}
.darkmode-btn_active {
    background: var(--tx-main-color);
    color: #f2f2f2;
}
.lightmode-btn {
    background-color: var(--tx-main-color);
    color: #f2f2f2;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: ease 300ms;
    margin: 0 2px;
}
.lightmode-btn:active {
    transform: scale(0.5);
}
.lightmode-btn_active {
    background: none;
    color: var(--tx-main-color);
}


.w-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background: linear-gradient(180deg, #39393d, var(--bc-color));
}
.w-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.w-t-title {
    font-size: 62px;
    color: var(--tx-main-color);
    text-align: center;
}

.w-t-paragraph {
    font-size: 47px;
    color: var(--bc-color);
    transition: ease 300ms;
    text-align: center;
}
.some-product-container {
    width: 400px;
    height: 360px;
    position: relative;
}
.some-product-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.second-section {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 120px;
    padding-top: 0px;
}

.s-s-title {
    font-size: 40px;
    color: var(--tx-main-color);
}

.s-s-containers {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}
.s-s-container {
    height: 200px;
    width: 250px;
    /* background-color: rgba(80, 80, 80, 0.6); */
    background: url(./img/login-singup.png)no-repeat;
    background-position: center;
    background-size: 365px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.3);
    transition: ease 300ms;
}
.s-s-container:hover {
    background-size: 450px;
}
.s-s-container > h3 {
    color: var(--tx-main-color);
    position: relative;
    top: 108%;
}
.s-s-container-hover {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease 300ms;
    cursor: pointer;
}
.s-s-container-hover > h4 {
    color: #fff;
    background-color: #21a5fd;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.s-s-container-hover:hover {
    opacity: 1;
}
.s-s-container2 {
    height: 200px;
    width: 250px;
    /* background-color: rgba(80, 80, 80, 0.6); */
    background: url(./img/PM.png)no-repeat;
    background-size: 365px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.3);
    transition: ease 300ms;
}
.s-s-container2:hover {
    background-size: 450px;
}
.s-s-container2 > h3 {
    color: var(--tx-main-color);
    position: relative;
    top: 108%;
}
.s-s-container2-hover {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease 300ms;
    cursor: pointer;
}
.s-s-container2-hover > h4 {
    color: #fff;
    background-color: #21a5fd;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.s-s-container2-hover:hover {
    opacity: 1;
}
.s-s-container3 {
    height: 200px;
    width: 250px;
    /* background-color: rgba(80, 80, 80, 0.6); */
    background: url(./img/S-Mart.png)no-repeat;
    background-position: center;
    background-size: 520px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.3);
    transition: ease 300ms;
}
.s-s-container3:hover {
    background-size: 650px;
}
.s-s-container3 > h3 {
    color: var(--tx-main-color);
    position: relative;
    top: 108%;
}
.s-s-container3-hover {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease 300ms;
    cursor: pointer;
}
.s-s-container3-hover > h4 {
    color: #fff;
    background-color: #21a5fd;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.s-s-container3-hover:hover {
    opacity: 1;
}
.s-s-container4 {
    height: 200px;
    width: 250px;
    /* background-color: rgba(80, 80, 80, 0.6); */
    background: url(./img/test\ game.png)no-repeat;
    background-position: center;
    background-size: 365px;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.3);
    transition: ease 300ms;
}
.s-s-container4:hover {
    background-size: 450px;
}
.s-s-container4 > h3 {
    color: var(--tx-main-color);
    position: relative;
    top: 108%;
}
.s-s-container4-hover {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease 300ms;
    cursor: pointer;
}
.s-s-container4-hover > h4 {
    color: #fff;
    background-color: #21a5fd;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.s-s-container4-hover:hover {
    opacity: 1;
}
.s-s-container5 {
    height: 200px;
    width: 250px;
    background-color: rgba(80, 80, 80, 0.6);
    /* background: url(./img/login-singup.png)no-repeat;
    background-position: center;
    background-size: 365px; */
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 0px 30px 0 rgba(0, 0, 0, 0.3);
    transition: ease 300ms;
}
.s-s-container5:hover {
    background-size: 450px;
}
.s-s-container5 > h3 {
    color: var(--tx-main-color);
    position: relative;
    top: 108%;
}
.s-s-container5-hover {
    height: 200px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: ease 300ms;
    cursor: pointer;
}
.s-s-container5-hover > h4 {
    color: #fff;
    background-color: #21a5fd;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.s-s-container5-hover:hover {
    opacity: 1;
}


.third-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 120px;
    padding-top: 90px;
    /* padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    background: linear-gradient(45deg, #21a5fd, #34a7f3); */
}
.t-s-title {
    font-size: 50px;
    color: var(--tx-main-color);
}
.t-s-paragraph {
    font-size: 20px;
    color: var(--bc-color);
    max-width: 512px;
    transition: ease 300ms;
}
.t-s-some-pic-container {
    height: 340px;
    width: 340px;
}
.t-s-some-pic-container > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fourth-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 150px;
    max-width: 992px;
    margin: 0 auto;
    padding-top: 90px;
}
.f-s-title {
    font-size: 50px;
    color: var(--tx-main-color);
    text-align: center;
}
.f-s-paragraph {
    font-size: 20px;
    color: var(--bc-color);
    max-width: 992px;
}
.f-s-some-pic-container {
    height: 340px;
    width: 340px;
    
}

.f-s-some-pic-container > svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.knowledge-container {
    display: flex;
    justify-content: center;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 70px;
}
.knowledge {
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.knowledge > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    height: 140px;
    background-color: var(--tx-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-top: 100px;
}

.f-list {
    list-style: none;
}
.f-list > li > a {
    text-decoration: none;
    color: #fff;
}
.f-list > li > a:hover {
    text-decoration: underline;
}

.footer-logo {
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}


.services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.s-title {
    color: var(--tx-main-color);
    font-size: 50px;
}
.s-paragraph {
    color: var(--bc-color);
    font-size: 25px;
    margin-bottom: 40px;
}

.s-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.05);
    padding: 34px;
    width: 270px;
    height: 400px;
    transition: ease 300ms;
}
.service:hover {
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
}
.service > h1 {
    color: var(--tx-main-color);
    text-align: center;
}

.service-list {
    list-style: none;
}
.service-list > li {
    display: flex;
    gap: 20px;
}

.service-btn {
    color: #f2f2f2;
    padding: 12px 28px;
    border-radius: 20px;
    background: linear-gradient(90deg, #21a5fd, #34a7f3);
    text-decoration: none;
    font-weight: 600;
    transition: ease 200ms;
}
.service-btn:hover {
    padding: 12px 10px;
}

.contact-container {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
}

.contact-container > h1 {
    font-size: 50px;
    color: var(--tx-main-color);
}
.c-c-paragraph {
    color: var(--bc-color);
    font-size: 25px;
}

.socialmedia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}

.socialmedia {
    color: var(--bc-color);
    font-size: 50px;
    transition: ease 300ms;
}
.socialmedia:hover {
    color: var(--tx-main-color);
}


.socialmedia2 {
    color: var(--bc-color);
    font-size: 50px;
    transition: ease 300ms;
}
.socialmedia2:hover {
    color: var(--tx-main-color);
}


.socialmedia3 {
    color: var(--bc-color);
    font-size: 50px;
    transition: ease 300ms;
}
.socialmedia3:hover {
    color: var(--tx-main-color);
}


.socialmedia4 {
    color: var(--bc-color);
    font-size: 50px;
    transition: ease 300ms;
}
.socialmedia4:hover {
    color: var(--tx-main-color);
}


.socialmedia5 {
    color: var(--bc-color);
    font-size: 50px;
    transition: ease 300ms;
}
.socialmedia5:hover {
    color: var(--tx-main-color);
}


.socialmedia6 {
    color: var(--bc-color);
    font-size: 50px;
    transition: ease 300ms;
}
.socialmedia6:hover {
    color: var(--tx-main-color);
}


@media (max-width: 992px) {

    /* NAVBAR */

    .menu-btn {
        display: block;
        color: var(--tx-main-color);
        background: none;
        border: none;
        line-height: 65px;
        font-size: 30px;
        transition: ease 200ms;
    }
    .menu-btn:active {
        transform: scale(0.86);
    }

    .logo {
        font-size: 26px;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 65px;
        right: -100%;
        gap: 8px;
        padding: 32px 32px;
        height: 100vh;
        background-color: #2a2a2d;
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.25);
        transition: ease 500ms;
    }
    .nav-list_active {
        right: 0;
    }
    .nav-link::after {
        content: '';
        background-color: var(--tx-main-color);
        position: absolute;
        top: 78%;
        left: 0;
        width: 0;
        height: 3px;
        border-radius: 5px;
        transition: ease 200ms;
        opacity: 0;
    }
    .nav-link:hover::after {
        opacity: 1;
        width: 100%;
    }

    .navbar {
        max-width: 400px;
    }

    /* FIRST SECTION */

    .w-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        max-width: 512px;
        margin: 0 auto;
        padding: 120px 0 60px 0;
        flex-direction: column;
        gap: 50px;
    }
    /* .t-s-text {
        width: 100%;
    } */
    .w-t-title {
        font-size: 30px;
        text-align: center;
        color: var(--tx-main-color);
    }
    .w-t-paragraph {
        font-size: 23px;
        text-align: center;
        color: var(--bc-color);
    }
    .some-product-container {
        width: 300px;
        height: 260px;
        position: relative;
    }

    /* SECOND SECTION */
    
    .s-s-title {
        font-size: 40px;
        color: var(--tx-main-color);
        position: relative;
    }

    /* THIRD SECTION */

    .third-section {
        max-width: 350px;
        margin: 0 auto;
    }

    .t-s-title {
        font-size: 40px;
        text-align: center;
    }
    .t-s-paragraph {
        font-size: 17px;
        text-align: center;
    }

    .f-s-title {
        font-size: 35px;
    }
    .knowledge-container {
        max-width: 400px;
    }

    .f-list > li > a {
        font-size: 12px;
    }
    .footer-logo {
        margin-left: 18px;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
    }

    footer {
        gap: 15px;
        justify-content: center;
    }

    .f-s-some-pic-container {
        height: 220px;
        width: 220px;
    }

    .t-s-some-pic-container {
        height: 220px;
        width: 220px;
    }

    /* CONTACT */

    .contact-container > h1 {
        font-size: 37px;
    }

    .contact-container > p {
        font-size: 22px;
    }

    .socialmedia-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
        margin-top: 40px;
    }
    
    .socialmedia {
        font-size: 35px;
    }
    .socialmedia:hover {
        color: var(--tx-main-color);
    }

    .socialmedia2 {
        font-size: 35px;
    }
    .socialmedia2:hover {
        color: var(--tx-main-color);
    }


    .socialmedia3 {
        font-size: 35px;
    }
    .socialmedia3:hover {
        color: var(--tx-main-color);
    }


    .socialmedia4 {
        font-size: 35px;
    }
    .socialmedia4:hover {
        color: var(--tx-main-color);
    }


    .socialmedia5 {
        font-size: 35px;
    }
    .socialmedia5:hover {
        color: var(--tx-main-color);
    }


    .socialmedia6 {
        font-size: 35px;
    }
    .socialmedia6:hover {
        color: var(--tx-main-color);
    }



    /* DARKMODE */

    .t-s-paragraph-darkmode {
        text-align: center;
        font-size: 17px;
    }
    .w-t-paragraph-darkmode {
        font-size: 23px;
    }
    .socialmedia-darkmode {
        font-size: 35px;
    }
    .socialmedia-darkmode:hover {
        color: var(--tx-main-color);
    }


    .socialmedia2-darkmode {
        font-size: 35px;
    }
    .socialmedia2-darkmode:hover {
        color: var(--tx-main-color);
    }


    .socialmedia3-darkmode {
        font-size: 35px;
    }
    .socialmedia3-darkmode:hover {
        color: var(--tx-main-color);
    }


    .socialmedia4-darkmode {
        font-size: 35px;
    }
    .socialmedia4-darkmode:hover {
        color: var(--tx-main-color);
    }


    .socialmedia5-darkmode {
        font-size: 35px;
    }
    .socialmedia5-darkmode:hover {
        color: var(--tx-main-color);
    }


    .socialmedia6-darkmode {
        font-size: 35px;
    }
    .socialmedia6-darkmode:hover {
        color: var(--tx-main-color);
    }
}